.moviesCardList {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  padding-top: 80px;
}

@media screen and (max-width: 425px) {
  .moviesCardList {
    padding-top: 50px;
  }
}
.moviesCardList__list {
  list-style: none;
  padding: 0 0 77px;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  column-gap: 20px;
  grid-auto-flow: row;
}



