.movies {
  padding: 80px 70px 0;
}

@media screen and (max-width: 320px) {
  .movies {
    padding: 80px 10px 0;
  }
}
.movies__button {
  display: none;
  width: 320px;
  height: 36px;
  border: 1px solid #e8e8e8;
  background-color: transparent;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;
}
.movies__button_on {
  display: block;
}
.movies__button:hover {
    cursor: pointer;
}
@media screen and (max-width: 425px) {
  .movies__button {
    width: 240px;
    height: 36px;
  }
}
.movies__like-button {
  background-image: url(../../images/like-icon.svg);
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
}
.movies__like-button:hover {
  cursor: pointer;
}
.movies__like-button_active {
  background-image: url(../../images/like-icon-active.svg);
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
}
