.movies__unlike-button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    padding: 0;
    background-image: url(../../images/unlike-icon.svg);
  }
  .movies__unlike-button:hover {
    cursor: pointer;
  }