.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
  height: 74px;
  background-color: #465DFF;
}

.header__nav {
  width: 100%;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
}