.aboutProject {
  background-color: #fff;
  padding: 110px 70px 183px;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .aboutProject {
    padding: 90px 50px 90px;
  }
}
@media screen and (max-width: 425px) {
  .aboutProject {
    padding: 70px 18px 70px;
  }
}

.aboutProject__description-table {
  display: flex;
  list-style: none;
  padding: 70px 0 110px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .aboutProject__description-table {
    padding: 70px 0 93px;
  }
}
@media screen and (max-width: 425px) {
  .aboutProject__description-table {
    padding: 60px 0 4px;
    flex-direction: column;
  }
}
.aboutProject__description-header {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 26px;
  margin: 0;
}
@media screen and (max-width: 425px) {
  .aboutProject__description-header {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 16px;
  }
}
.aboutProject__description-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .aboutProject__description-text {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 425px) {
  .aboutProject__description-text {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 56px;
  }
}
.aboutProject__timeline {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3.75fr;
  grid-template-rows: 2;
}
.aboutProject__timeline-cell {
  margin: 0;
  padding: 14px 0;
  text-align: center;
  color: #a0a0a0;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
@media screen and (max-width: 425px) {
  .aboutProject__timeline-cell {
    font-size: 11px;
    line-height: 13px;
    padding: 10px 0;
  }
}

.aboutProject__timeline-cell_green {
  color: #fff;
  background-color: #2BE080;
  font-weight: 400;
  padding: 9px 0;
}
@media screen and (max-width: 425px) {
  .aboutProject__timeline-cell_green {
    font-size: 11px;
    line-height: 14px;
    padding: 11px 0;
  }
}
.aboutProject__timeline-cell_grey {
  color: #000;
  background-color: #f2f2f2;
  font-weight: 400;
  padding: 9px 0;
}
@media screen and (max-width: 425px) {
  .aboutProject__timeline-cell_grey {
    font-size: 11px;
    line-height: 14px;
    padding: 11px 0;
  }
}
